@using Streamy.Core.Models
@model SongModel

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="col-lg-auto">
        <div class="col-lg-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                    <div class="card card-widget widget-user-2">
                        <div class="widget-user-header bg-warning">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">Nadia Carmichael</h3>
                            <h5 class="widget-user-desc">Lead Developer</h5>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Projects <span class="float-right badge bg-primary">31</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Tasks <span class="float-right badge bg-info">5</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Completed Projects <span class="float-right badge bg-success">12</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Followers <span class="float-right badge bg-danger">842</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song</th>
                                <th>Artists</th>
                                <th>Duration</th>
                                <th>ReleaseDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var artist in Model.Artists)
                            {
                                <tr>
                                    <th>@artist.Name</th>
                                    <th>@artist.Country</th>
                                    <td>
                                        <a asp-action="Detail" asp-controller="Artist" asp-route-id="@artist.Id" class="mdi mdi-information-outline "></a>
                                        <a asp-action="Edit" asp-controller="Artist" asp-route-id="@artist.Id" class="mdi mdi-border-color"></a>
                                        <a asp-action="Delete" asp-controller="Artist" asp-route-id="@artist.Id" class="mdi mdi-delete "></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

