@using Streamy.Core.Models
@model GenreViewModel

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="col-lg-auto">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Albums</th>
                                <th>Songs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Name</td>
                                <td>@Model.Albums</td>
                                <td>@Model.Songs</td>
                            </tr>
                        </tbody>
                    </table>
                    <a asp-action="Edit"  asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>